.superpowers/
.cpcache/
.clj-config/
.gitlibs/
.nrepl-port
.shadow-cljs/
.wrangler/
node_modules/
target/
.DS_Store
*.class
.calva/
.lsp/
.clj-kondo/
build/
acceptance/generated/
resources/public/js/
tmp/
